<div class="hero-head">
    <nav class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1 class="logo">PIZZAIOLI</h1>
                </a>
                <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
                <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-home"></i>
                                    </span>
                                    <span>Home</span>
                                </a>
                            </span>
                    <span class="navbar-item">
                                <a class="button is-white is-outlined" href="#">
                                    <span class="icon">
                                        <i class="fa fa-superpowers"></i>
                                    </span>
                                    <span>Examples</span>
                                </a>
                            </span>
                    <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/inscription">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Inscription</span>
                                </a>
                            </span>
                    <span class="navbar-item">
                                <a class="button is-white is-outlined" href="/connexion">
                                    <span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span>
                                    <span>Connexion</span>
                                </a>
                            </span>
                </div>
            </div>
        </div>
    </nav>
</div>